
<!-- BEGIN # MODAL LOGIN -->
<div class="modal" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</div>

                <!-- Begin # DIV Form -->
                <div id="div-forms">
                    <!-- Begin # Login Form -->
		                <div class="modal-body">
				    		<div id="div-login-msg" style="padding-bottom: 10px"><div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">注册页面：请输入您的用户名和密码.</span>
                            </div>
				    		<div style="padding-bottom: 20px">
                            <input id="signup_username" name = 'u' class="form-control" type="text" placeholder="用户名" required>
                            </div>
							<div style="padding-bottom: 20px">
				    		<input id="signup_password" name = 'p' class="form-control" type="password" placeholder="密码" required>
				    		</div>
							<div style="padding-bottom: 20px">
							<input id="signup_repassword" name = 'rp' class="form-control" type="password" placeholder="重新输入密码" required>
							</div>
        		    	</div>
				        <div class="modal-footer">
                            <div class="container" align="center">
                                <button id="signup-btn" style="width: auto" class="btn btn-primary btn-lg btn-block">注册</button>
                            </div>
				        </div>
                </div>
                <!-- End # DIV Form -->

			</div>
		</div>
	</div>