<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <style>
        .container {
            margin-top: 100px;
        }
        .btn {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h3>添加书籍</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">书籍名称</label>
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label for="">价格</label>
                    <input type="text" class="form-control" name="price">
                </div>
                <div class="form-group">
                    <label for="">出版日期</label>
                    <input type="date" class="form-control" name="date">
                </div>
                <div class="form-group">
                    <label for="">出版社</label>
                    <select class="form-control" name="publish" id="">
                        {% for publish in publish_list %}
                        <option value="{{ publish.pk }}">{{ publish }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">作者</label>
                    <select class="form-control" type="text" name="authors" multiple>
                        {% for author in author_list %}
                        <option value="{{ author.pk }}">{{ author }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-success pull-right">
            </form>
        </div>
    </div>
</div>

</body>
</html>